@model IEnumerable<KinowaRezerwacja.Models.Seance>

@{
    ViewData["Title"] = "Index";
}

<h1>Dostępne seanse</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hall)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Movie.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hall.Name)
            </td>
            <td>
               
                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
    
            </td>
        </tr>
}
    </tbody>
</table>
